<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticProperties="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="true"
         cacheDirectory=".phpunit.cache">
	<testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
		<testsuite name="Framework">
			<directory>./vendor/red-scale-dragon/framework/tests</directory>
		</testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./app</directory>
            <directory>./vendor/red-scale-dragon/framework</directory>
        </include>
    </source>
    <php>
        <ini name="date.timezone" value="UTC" />
        <ini name="intl.default_locale" value="C.UTF-8" />
        <ini name="memory_limit" value="2048M" />
        
        <env name="APP_RUNNING_IN_CONSOLE" value="false"/>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
